body{
    font-size: normal 10pt Sans-serif;
    position: absolute;
    top: 50%; /* distancia em relacao ao topo*/
    left: 50%;
    transform: translate(-50%,-65%); 
}
header{
    color: rgb(17, 149, 158);
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0);
    text-align: center;

}

footer{
    color: white;
    text-align: center;
    font-size: italic;
}

.btn{
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin: 2px;
    background-color: rgb(17, 149, 158);
    border-radius:3px;
    border: none;
}
.btn:hover{/* quando o mouse passar em cima*/
    background-color: rgb(9, 127, 135);
}

